@font-face {
    font-family: dana;
    font-style: normal;
    src: url('../font/Dana-Pro/farsinumral/webfonts/fonts/eot/dana-fanum-medium.eot') format('embedded-opentype'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff/dana-fanum-medium.woff') format('woff'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff2/dana-fanum-medium.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dana;
}

body {
    direction: rtl;
}

header {
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
    z-index: 1;
}

header .header-top a img {
    width: 100%;
    height: 55px;
    object-fit: fill;
}

header .header {
    width: 100%;
    height: 50px;
    display: flex;
    background: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

header .header .logo-irantalent {
    width: 200px;
    height: 50px;
    padding: 5px 40px 15px 0;
    /* background: red; */
}

header .header .nav-bar {
    width: 500px;
    height: 50px;
    /* padding: 5px 40px 15px 0; */
    /* background: rgb(69, 69, 120); */
}

header .header .nav-bar ul {
    list-style-type: none;
    display: flex;
}

header .header .nav-bar li {
    margin: 0 5px;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
}

header .header .nav-bar li a {
    width: 70px;
    height: 50px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #675e5e;
    cursor: pointer;
    transition: .5s;
}

header .header .nav-bar li a:hover {
    color: #3f51b5;
}

header .header .nav-bar li:hover {

    background-color: rgba(146, 173, 248, 0.05);
}

header .header .search-box {
    width: 400px;
    height: 50px;
    padding: 5px 60px 15px 0;
    display: flex;
    /* background: yellow; */
}

header .header .search-box input {
    margin-right: 55px;
    padding: 5px;
    width: 80%;
    height: 35px;
    outline: none;
    transition: all .5s;
    background-color: #ececec;
    color: #2b2b2b;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;
    font-size: 13px;
}

header .header .search-box i {
    font-size: 18px;
    position: relative;
    left: 30px;
    top: 10px;
}

header .header .employer-box::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 50px;
    width: 0.5px;
    background-color: #dedddd;
}

header .header .employer-box {
    width: 140px;
    height: 50px;
    position: relative;
    line-height: 50px;
    text-align: center;
    /* background: green; */
}

header .header .employer-box span a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(16, 16, 141);
}

header .header .employer-box span a:hover {
    text-decoration: underline;
}

header .header .registration::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 50px;
    width: 0.5px;
    background-color: #dedddd;
}

header .header .registration {
    position: relative;
    width: 170px;
    height: 50px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    /* background: purple; */
}

header .header .registration span a {
    color: #675e5e;
    text-decoration: none;
    font-size: 14px;
}

header .header .registration .sign-right {
    font-size: 30px;
    padding-left: 5px;
    padding-top: 6px;

}

header .header .registration .sign-left {
    font-size: 30px;
    padding-right: 5px;
    padding-top: 7px;
}

header .header .registration .sign-left a {
    color: #797070;

}

header .header .registration .sign-left a:hover {
    color: #000;
}

header .header .registration .register-box {
    display: flex;
    padding: 3px;
}

header .header .registration .register-box:hover {
    background-color: rgba(146, 173, 248, 0.05);

}

header .header .registration a {
    color: #000;
    text-decoration: none;
}

header .header .registration a .khat {
    font-size: 20px;
    font-weight: 600;
}

header .header .language {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    /* background: orangered; */
}

header .header .language span a {
    text-decoration: none;
    padding-right: 15px;
    color: #1e2f8f;
    font-size: 16px;
}

header .header .language span a:hover {
    font-weight: 600;

}

/* //////////////////////////////////////////////////// */
.main-box {
    width: 100%;
    height: 700px;
    background: hwb(205 44% 5% / 0.078);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box .main {
    width: 70%;
    height: 450px;
    margin-top: 60px;
    background: none;
}

.main-box .main .main-top {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: none;
}

.main-box .main .main-top img {
    width: 250px;
    height: 300px;
}

.main-box .main .main-top .homepage-button {
    padding-top: 100px;
}

.main-box .main .main-top .homepage-button .title {
    font-size: 15px;
    color: #1e2f8f;
    margin-bottom: 30px;
}

.main-box .main .main-top .homepage-button .button-box button {
    width: 190px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px;
}

.main-box .main .main-top .homepage-button .button-box .jobseeker {
    background-color: #1e2f8f;
    color: #fff;
    border: 1px solid #1e2f8f;
    outline: none;
    cursor: pointer;
    opacity: 1;
}

.main-box .main .main-top .homepage-button .button-box .jobseeker:hover {
    opacity: 0.9;
}

.main-box .main .main-top .homepage-button .button-box .company {
    background: #fff;
    color: #1e2f8f;
    border: 1px solid #1e2f8f;
    outline: none;
    cursor: pointer;
    opacity: 1;
    margin-right: 20px;
}

.main-box .main .main-top .homepage-button .button-box .company:hover {
    background: #1e2f8f;
    color: #fff;
}

.main-box .main .main-bottom {
    width: 100%;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.main-box .main .main-bottom .sec {
    width: 100%;
    height: 100%;
    margin: 0 15px;
    padding: 15px 0;
    display: grid;
    place-items: center;
}

.main-box .main .main-bottom .sec a {
    text-decoration: none;
    cursor: pointer;
}

.main-box .main .main-bottom .sec span a {
    font-size: 16px;
    font-weight: 500;
    color: #1e2f8f;
}

.main-box .main .main-bottom .sec .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    background: #fff;
}

.main-box .main .main-bottom .one a {
    color: #41bbd9;
}

.main-box .main .main-bottom .one .ione {
    background: #41bbd937;
}

.main-box .main .main-bottom .two a {
    color: #f96900;
}

.main-box .main .main-bottom .two .itwo {
    background: #e673213b;
}

.main-box .main .main-bottom .three a {
    color: #136411;
}

.main-box .main .main-bottom .three .ithree {
    background: #13e30f36;
}

.main-box .main .main-bottom .four a {
    color: #36558f;
}

.main-box .main .main-bottom .four .ifour {
    background: #456cb431;
}

.main-box .main .main-bottom .five a {
    color: #f41aa4;
}

.main-box .main .main-bottom .five .ifive {
    background: #d73f9f22;
}

/* //////////////////////////////////////////////////////////////// */
.slide {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.slider-box {
    width: 70%;
    height: 200px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    /* background: yellow; */
}

.slider-box .slider {
    background: #fff;
    width: 120px;
    height: 100%;
    cursor: pointer;
}

.slide .chevron {
    width: 50px;
    height: 100%;
    font-size: 50px;
}

.slide .chevron a {
    text-decoration: none;
    color: #2b2b2b;
    position: relative;
    top: 40%;
    cursor: pointer;
}

.slide .chevron .prev {
    width: 50px;
    height: 100%;
    left: 430px;
    /* background: blue; */

}

.slide .chevron .next {
    width: 50px;
    height: 100%;
    right: 430px;
    position: relative;
    /* background: blue; */

}

.slider-box .slider .slider-img {
    text-align: center;
    line-height: 104px;
    width: 100%;
    height: 104px;
    /* background: #f41aa4; */

}

.slider-box .slider .slider-img img {
    width: 100px;
    object-fit: cover;
}

.slider-box .slider .details {
    width: 100%;
    height: 35%;
    /* background: #136411; */
}

.slider-box .slider .name-company {
    text-align: right;
    color: #000;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;

}

.slider-box .slider .jobs {
    text-align: right;
    display: block;
    color: #2b2b2b;
    font-size: 10px;
}

.slider-box {
    /* display: none; */
}

/* ///////////////////////////////////////////////////////////////// */
.employment {
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.employment .employment-box {
    width: 77%;
    height: inherit;
    /* background: yellow; */
}

.employment .employment-box .title {
    text-align: center;
    padding: 20px;
}

.employment .employment-box .title h2 {
    font-size: 35px;
    font-weight: 500;
    color: #151414;
}

.employment .employment-box .heading-box {
    display: flex;
    justify-content: space-evenly;
}

.employment .employment-box .heading-box .heading-filed {
    text-align: right;
    display: flex;
    color: #1e2f8f;
}

hr {
    position: relative;
    width: 91%;
    right: 52px;
    margin-top: 10px;
}

.employment .employment-box .lists-jobs .lists {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 25px 25px 0 20px;
    right: 51px;
    /* background: blue; */
}

.employment .employment-box .lists-jobs .list {
    width: 20%;
    margin: 0 10px;
    height: 595px;
    /* background:#f41aa4; */
}
.employment .buttom-box{
    text-align: center;
}
.employment button{
    width: 150px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background: #fff;
    border: 1px solid #1e2f8f;
    cursor: pointer;
    outline: none;
}

.employment button:hover{
    color: #fff;

    background: #1e2f8f;
}
.employment .employment-box .lists-jobs .list a {
    text-decoration: none;
    font-size: 14px;
    text-align: right;
    color: #000;
}
.employment .employment-box .lists-jobs .list a:hover{
    padding-right:3px ;
    color:#1e2f8f ;
}

.employment .employment-box .lists-jobs .list p {
    margin: 7px 0;
}
/* ////////////////////////////////////// */
.most-search {
    margin:150px 0 ;
}
.most-search .title{
    margin-bottom:30px ;
}
.most-search .title h3 {
    font-size: 25px;
    font-weight: 500;
    color: #151414;
    text-align: center;
}
.most-search .search-box{
    text-align: center;
}
.most-search .search-box .sec {
    margin: 30px 0;
}

.most-search .search-box .sec span {
    background: #cccccc65;
    padding: 10px;
    margin: 0 10px;
    border-radius: 25px;
}
.most-search .search-box .sec a{
    text-decoration: none;
    color: #323131;
    font-size: 14px;
    font-weight: 500;
}
.most-search .search-box .sec span:hover{
    background: #ede6e6 ;
}
/* /////////////////////////////////////////////////////////////// */
.last-jobs {
    width: 100%;
    padding-bottom: 100px ;
    padding-top:50px;
    background: #fbfbfb;
    text-align: center;
}
.last-jobs .jobs-field{
    margin: 80px 0;
}
.last-jobs .jobs-field h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #151414;
    margin-bottom: 30px;
}
.last-jobs .jobs-field select{
    width:350px;
    height: 45px;
    border: 1px solid #ccc;
    color: #797070;
    padding: 10px;
}
.last-jobs .button-box button{
    width: 190px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px;
    background: #fff;
    color: #1e2f8f;
    border: 1px solid #1e2f8f;
    outline: none;
    cursor: pointer;
}
.last-jobs .button-box button:hover{
    background: #1e2f8f;
    color: #fff;
}
/* ////////////////////////////////////////////////////////////// */
.example{
    width: 100%;
    height: 500px;
    /* background: #136411; */
}
.example .fields{
    display: flex;
    justify-content: center;
}
.example .fields .option{
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #fff;
}
.example .fields .option .title{
    font-size: 16px;
    font-weight: 600;
}
.example .fields .option .company{
    display: flex;
    margin-top: 10px;
}
.example .fields .option .company .name-company{
    font-size: 13px;
} 
.example .fields .option .main-cm .location{
    font-size: 14px;
    color: #323131;
}
.example .option .company .img-box{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid #ccc;
}
.example .option .company .img-box img{
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.example .fields .option  .details{
    border-top: 1px solid #ccc;
    margin-top: 60px;
    font-size: 13px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.example .fields .option  .details .ex-right{
    font-size: 12px;
    color: #696666;
}
.example .fields .option  .details button{
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: #1e2f8f;
    cursor: pointer;
    outline: none;
}
.example .fields .option  .details button:hover{
    opacity: 0.8;
}
/* /////////////////////////////////////////// */
.question{
    width: 100%;
    height: 350px;
    padding: 50px 100px;
    background: #fff;
}
.question .title{
    margin: 20px 0;
    font-size: 20px;
}
.question .title p{

}
.question .faq-item{
    /* border-bottom: 1px solid #ddd; */
    font-size: 14px;
}
.question .faq-question{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    cursor: pointer;
    background: #cccccc65;
    margin: 5px 0;
    border-radius: 5px;
}
.question .faq-question a{
    text-decoration: none;
    font-size: 20px;
    color: #2b2b2b;
}
.question .faq-answer{
    padding: 15px;
    display: none;
}
/* ///////////////////////////////////////////// */
.change-you{
    width: 100%;
    height: 600px;
    /* background: red; */
}
.change-you .title{
    margin-bottom: 52px;
    text-align: center;
}
.change-you .title span{
    font-size: 25px;
    font-weight: 500px;
    color: #151414;
}
.change-you .section-you{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.change-you .section-you img{
    border-radius: 15px;
    margin: 20px 0;
}
.change-you .section-you .right-field{

}
.change-you .section-you .right-field .flex{
    width: 300px;
    height: 60px;
    margin: 20px 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    background: #cccccc65;
}
.change-you .section-you .right-field a{
    text-decoration: none;
    color: #151414;
}
.change-you .section-you .right-field .flex:hover{
    opacity: 0.8;
    color: #000;
}
.change-you .flex{
    display: flex;
    justify-content: space-between;

}
.change-you i{
    color: #696666;
}
/* /////////////////////////////////////// */
.dream-job{
    width: 100%;
    height: 350px;
    background:#fafafa;
}
.dream-job .title{
    margin-bottom: 52px;
    text-align: center;
}
.dream-job .title p{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #151414;
}
.dream-job .road-dream{
    display: flex;
    justify-content: space-evenly;
}
.dream-job .road-dream .road{
    width: 300px;
}
.dream-job .road-dream .road .img-box{
    text-align: center;
}
.dream-job .road-dream .road .ti{
    margin: 15px 0;
    text-align: center;
    font-size: 17px;
}
.dream-job .road-dream .road .explain{
    text-align: center;
    font-size: 14px;
}
/* /////////////////////////////////////////////// */
.site-explain{
    width: 100%;
    height: 300px;
    padding: 100px;
}
.site-explain .title{
    text-align: right;
    margin: 20px 0;
}
.site-explain .title p{
    font-size: 20px;
    font-weight: 600;
    color: #151414;
}
.site-explain .explain{
    font-size: 14px;
}
.site-explain .button-box{
    margin: 20px;
    text-align: center;
    cursor: pointer;
    
   
}
.site-explain .button-box a{
    text-decoration: none;
    color: #1e2f8f;
    cursor: ;
}
.site-explain .button-box button{
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font-size: 14px;
    color: #1e2f8f;
}

/* //////////////////////////////////////////////// */
footer {
    margin-top:70px;
    width: 100%;
    background:#cccccc65;
    padding: 20px 0;
}

footer .footer-main {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 250px;
}

footer .footer-main .logo .logoimg-footer img {
    width: 135px;
    height: 20px;
    object-fit: fill;
    margin-bottom: 25px;
}
footer .footer-main  .explanation li {
    font-size:14px;
    list-style-type: none;
    color: #413c3c;
}
footer .footer-main .footerr .social-links {
    margin-top: 20px;
}

footer .footer-main .footerr .social-links a {
    margin: 0px 5px;
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background: #ccc;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.4s ease;
}

footer .footer-main .footerr .social-links a:hover {
    background: #2766A9;
}


footer .footer-main .footerr h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

footer .footer-main .footer li {
    list-style-type: none;
    margin-bottom: 10px;
}
footer .footer-main .footer a:hover{
    padding-right: 5px;
}
footer .footer-main .footer li a {
    text-decoration: none;
    font-size: 14px;
    color: #413c3c;
}
footer .footer-main .footer li a:hover{
    color:#2766A9;
    font-weight:500;
}
hr {
    opacity: 0.7;
    color: #000;
}

footer .footer-bottom .col {
    padding: 15px 50px;
    color: #575151;
    font-size: 14px;


}
footer .img-box{
    display: flex;
    width: 60px;
    height: 60px;
}

footer .footer-bottom .col a {
    color: #575151;
    font-size: 14px;
}