@font-face {
    font-family: dana;
    font-style: normal;
    src: url('../font/Dana-Pro/farsinumral/webfonts/fonts/eot/dana-fanum-medium.eot') format('embedded-opentype'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff/dana-fanum-medium.woff') format('woff'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff2/dana-fanum-medium.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dana;
    direction: rtl;
}

body {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 65px;
    color: #2B2F33;
    will-change: transform;
    transition: transform .2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px 0px;
}

header .logo-alibaba {
    object-fit: cover;
    color: transparent;
    width: 40px;
}

/* //////////////////////////////// */
header nav ul {
    display: flex;
}

header nav li a {
    display: flex;
    margin: 10px;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    line-height: 18px;
    color: #6C7680;
}

header nav li p {
    padding: 0 5px;
}

header nav li {
    position: relative;
}

header nav .solid::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 20px;
    top: 20px;
    right: 0;
    background-color: #c9d0d8;
}

header nav .solid:first-child::after {
    display: none;
}

header nav .icon-head i {
    font-size: 18px;
    font-weight: 400;
}

header .nav-links .hover-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 8rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header ul>li:hover .hover-nav {
    display: block;
}

header .nav-links a {
    display: flex;
    background: #fff;
    color: #636d76;
    padding: .5rem .2rem;
    font-size: 14px;
    border-bottom: 1px solid #c9d0d8;


}

/* //////////////////////////////////// */
header .button-box {
    display: flex;
    align-items: center;
}

header .button-box ul {
    display: flex;
}

header .button-box li a {
    display: flex;
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    line-height: 15px;
    color: #6C7680;
    align-items: center;
}

header .button-box p {
    padding: 10px;
}

header .button-box .icon-head .bx-question-mark {
    border: 1px solid #6C7680;
    border-radius: 50%;
}

header li a:hover {
    background: #bad3e81d;
}

header .icon-head i {
    font-size: 18px;
}

/* /////////////////////////////////////// */
main {
    width: 100%;
}

main .homepage {
    width: 100%;
    height: 500px;
}

main .homepage .background-homepage img {
    width: 100%;
    height: 350px;
    padding: 0 65px;
}

main .homepage .container-tabs {
    width: 76%;
    height: 230px;
    margin: 0 190px;
    position: relative;
    top: -100px;
    z-index: 5;
    border: 1px solid #c9d0d8;
    border-radius: 11px;
    background: #fff;
}

main .homepage .container-tabs .tabs {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #c9d0d8;
    padding: 15px 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

main .homepage .container-tabs .tabs a {
    position: relative;
    color: #636d76;
    font-size: 17px;
    z-index: 1;
    cursor: pointer;
}

.tabs .animation {
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background-color: #0077DB;
    width: 100px;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.tabs .icontab {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.tabs .icontab:hover {
    color: #0077DB;
    transition: all .1s ease-out 0s;
}

.tabs a:nth-child(1) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(1):hover~.animation {
    width: 90px;
    right: 120px;
}

.tabs a:nth-child(2) {
    width: 110px;
}

.tabs .start-home,
a:nth-child(2):hover~.animation {
    width: 100px;
    right: 250px;
}

.tabs a:nth-child(3) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(3):hover~.animation {
    width: 60px;
    right: 410px;
}

.tabs a:nth-child(4) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(4):hover~.animation {
    width: 100px;
    right: 530px;
}

.tabs a:nth-child(5) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(5):hover~.animation {
    width: 55px;
    right: 685px;
}

.tabs a:nth-child(6) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(6):hover~.animation {
    width: 75px;
    right: 805px;
}

.tabs a:nth-child(7) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(7):hover~.animation {
    width: 120px;
    right: 920px;
}

/* ///////////////////////////////// */
.form-explain {
    width: 100%;
    height: 140px;
    padding: 20px 30px;
}

.form-explain .is-open {
    margin-right: 25px;

    width: 100%;
    padding-bottom: 15px;
}

.form-explain ul {
    display: flex;
}

.form-explain .solid {
    min-width: 100px;
    height: 35px;
    background: #fff;
    border: 1px solid #c9d0d8;
    border-radius: 21px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;

    padding: 5px;
    font-size: 14px;
    color: #636d76;
    cursor: pointer;
    position: relative;
}

.form-explain .solid:hover {
    border: 2px solid #51A2E7;

}

.form-explain .solid p {
    padding-right: 3px;
}

.form-explain .icon-head {
    padding-right: 5px;
    padding-top: 4px;
}

.form-explain .nav-links .hover-nav {
    display: none;
    position: absolute;
    z-index: 5;
    width: 8rem;
    border: 1px solid #d6d8db;
    background-color: #fff;
    border-radius: 8px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-explain .nav-links .oneho {
    top: 145px;
    right: 70px;
}

.form-explain ul>li:hover .hover-nav {
    display: block;
}

.form-explain .nav-links a {
    display: flex;
    background: #fff;
    color: #636d76;
    padding: .5rem .2rem;
    font-size: 14px;
}

.form-explain .nav-links a:hover {
    color: #0077DB;
    background: #51a1e728;
}

/* ************ */
.form-explain .form-item {
    width: 100%;
    height: 60px;
    padding: 0px 30px;
    margin-top: 10px;
    display: flex;
}

.form-explain .form-item .item {
    margin-right: 10px;
    display: flex;

}

.form-explain .a-input {
    position: relative;
    height: 45px;
    line-height: 45px;
    display: flex;
}

.form-explain input {
    height: 45px;
    font-size: 14px;
    color: #6C7680;
    padding: 0 10px;
    background: transparent;
    transition: 0.2s ease;
    outline: none;
    border: 1px solid #BEC6CC;
    line-height: 45px;
}

.form-explain .is-first input,
.form-explain .is-calender-1 input {
    width: 200px;
    height: 45px;
    border-left: none;
    border-radius: 0 7px 7px 0;
}

.form-explain .is-last input,
.form-explain .is-calender-2 input {
    width: 200px;
    height: 45px;
    border-radius: 7px 0 0 7px;
}

.form-explain .date .is-calender-1 input {
    width: 150px;
}

.form-explain .date .is-calender-2 input {
    width: 150px;
}

.form-explain .label {
    position: absolute;
    font-size: 14px;
    color: #6c7680;
    padding: 0 10px;
    transition: 0.2s ease;
    display: inline-block;
}

.form-explain .left {
    padding-right: 20px;
}

input:focus {
    border: 1px solid #212020;
}

input:focus+.label {
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
    background: #fff;
    transform: translate(-15px, -16px);
    z-index: 1111;
    font-size: 12px;
}

.form-explain .input-group-btn button {
    border: 1px solid #BEC6CC;
    border-radius: 50%;
    background: #fff;
    width: 2rem;
    height: 2rem;
    margin: 8px 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4B5259;
    z-index: 1;
    right: 255px;
    cursor: pointer;
}

/* ************************** */
.form-explain .passeger .a-input input {
    outline: none;
    width: 150px;
    height: 45px;
    font-size: 14px;
    border: 1px solid #BEC6CC;
    border-radius: 7px;
}

.form-explain .passeger .label {
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
    background: #fff;
    transform: translate(-15px, -16px);
    z-index: 1111;
    font-size: 12px;
}

.form-explain .passeger input:valid {
    color: #000;
    font-size: 15px;
}

/* **************** */

.form-explain .search .button-box button {
    border: none;
    outline: none;
    background: #FDB713;
    width: 160px;
    height: 45px;
    border-radius: 7px;
    font-size: 17px;
    color: #000;
}

.form-explain .search .button-box button:hover {
    background: #E3A107;
}
/* *****************list option******************* */

.options_list {
    position: absolute;
    width: 200px;
    top: 190px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 14px;
    padding: 0px;
    max-height: 270px;
    overflow-y: auto;
    
}

.option {
    padding: 8px 0;
    font-weight: 500;
    font-size: 15px;
    transition: .1s ease-in-out;
    border-bottom: 1px solid #ccc;
    display: flex;
    text-align: center;
    padding-right: 10px;
}

.options_list .optionBold {
    background: #f8fafb;
    height: 20px;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #6c7680;
    border: none;
    align-items: center;
    display: flex;
}

.options_list .icon {
    color: #949da7;
    padding-left: 10px;
}

.option:hover{
    background-color: #45a7d81b;
    cursor: pointer;
}

.options_list::-webkit-scrollbar {
    width: 4px;
    background-color: #420f0f;
}

.options_list::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.options_list.active {
    display: block;
}

.options_list.active-end {
    display: block;
    right: 270px;
}
/* ********************calendar******************** */
.calendar-box.active {
    display: block;
}

.calendar-box {
    /* display: none; */
    position: absolute;
    top: 215px;
    right: 50px;
    width: 585px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 1;
}

.calendar-box .header-date {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0 0px;
}

.calendar-box .header-date a {
    text-decoration: none;
    color: #0077db;
    display: flex;
    text-align: center;
    font-size: 13px;
    padding: 3px;
    border-radius: 10px;

}

.calendar-box .header-date a:hover {
    background-color: #0078db0a;
    border: 1px solid #35a3fd63;
}

.calendar-box .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.calendar-box .middle .month {
    font-weight: 500;
    margin: 0 100px;
}

.calendar-box .middle .chevron {
    cursor: pointer;
}

.calendar-box .calendar {
    display: flex;
    padding: 0px 17px;
    justify-content: space-between;
}

.calendar-box .calendar .calendar-right {
    margin-left: 10px;
}

.calendar-box .calendar .calendar-left {
    margin-right: 10px;
}

.calendar-box .calendar .weeks li {
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
    color: #afaaaa;
}

.calendar-box .calendar .days li {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    padding: 15px;
}

.calendar-box .days li.inactive {
    color: #afaaaa;
}

.calendar-box .calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.calendar-box .calendar ul li {
    width: calc(100% / 7);
    position: relative;
}

.calendar-box .calendar .days li::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 50%;
    left: 38%;
    z-index: -3;
    border-radius: 5px;
    background: transparent;
    transform: translate(-50%, -50%);
}

.calendar-box .days li.active::before {
    border: 1px solid #ccc;
}

.calendar-box .days li:hover:before {
    border: 1px solid #FDB713;
}

.calendar-box .footer-calendar {
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}

.calendar-box .footer-calendar .comment-right {
    display: flex;
}

.calendar-box .footer-calendar .comment-right .littel {
    font-size: 14px;
    margin-left: 8px;
    color: #767575;
}

.calendar-box .footer-calendar .comment-right .big {
    font-weight: 600;
    font-size: 14px;
}

.calendar-box .footer-calendar .comment-left button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #0b7cd891;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.calendar-box .footer-calendar .comment-left button:hover {
    background-color: #00569E;
}
/* ///////////////////////////////////////////// */
.service-alibaba {
    width: 100%;
    height: 150px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.service-alibaba .service-box {
    width: 76%;
}

.service-alibaba .service-box h2 {
    font-size: 18px;
    padding: 10px 0;
}

.service-alibaba .service-box .service-items {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    line-height: 70px;
    border: 1px solid #BEC6CC;
}

.service-alibaba .service-box .service-items .items {
    padding: 15px;
}

.service-alibaba .service-box .service-items .items ul {
    display: flex;
    justify-content: space-evenly;
}

.service-alibaba .items li {
    position: relative;
}

.service-alibaba .items li::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 50px;
    top: 5px;
    right: -60px;
    background-color: #c9d0d8;
}

.service-alibaba .items li:first-child::after {
    display: none;
}

.service-alibaba .service-box .service-items .items li a {
    display: flex;
    font-size: 15px;
    color: #4B5259;

}

.service-alibaba .service-box .service-items .items .icon-item {
    line-height: 110px;
}

.service-alibaba .new {
    background: #84E199;
    position: absolute;
    border-radius: 10px;
    width: 40px;
    height: 23px;
    top: 12px;
    right: 20px;
    font-size: 10px;
    text-align: center;
}

.service-alibaba .difrent {
    padding-top: 7px;
}

.ooooo {
    position: absolute;
    top: -46px;
    right: 5px;
    color: #000;
    font-size: 14px;
}

/* ///////////////////////////// */

.slider {
    width: 100%;
    height: 250px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    /* background: yellow; */
}

.slider .slide-container {
    width: 76%;
    height: 250px;
    /* background: red; */
}

.slider .slide-container .slide-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.slider .slide-container .image-content {
    height: 220px;
    width: 585px;
    border-radius: 20px;
}

.slider .slide-container .image-content img {
    height: 220px;
    width: 580px;
    border-radius: 20px;
}

/* ////////////////////////// */
.app-alibaba {
    width: 100%;
    height: 300px;
    margin: 30px 0;
    display: flex;
    justify-content: center;

}

.app-alibaba .app-box {
    width: 76%;
    height: 300px;
    padding: 15px 30px 0 30px;
    border-radius: 5px;
    border: 1px solid #BEC6CC;
    display: flex;
    justify-content: space-around;
}

.app-alibaba .app-box .scan-box {
    margin: 36px 0;
}

.app-alibaba .app-box .mobile-box img {
    width: 350px;
    height: 280px;
}

.app-alibaba .app-box .expalin-app {
    margin: 36px 0;
}

.app-alibaba .app-box .expalin-app h2 {
    font-size: 20px;
}

.app-alibaba .app-box .expalin-app p {
    color: #2B2F33;
    font-size: 17px;
    padding: 10px 0;
}

.app-alibaba .app-box .link-don-app {
    line-height: 32px;
    margin: 30px 0;
}

.app-alibaba .app-box .link-don-app a {
    display: flex;
    color: #00569E;
}

.app-alibaba .app-box .link-don-app a i {
    font-size: 30px;
    margin-bottom: 2px;
}

.app-alibaba .app-box .install {
    display: flex;
    color: #6C7680;
    line-height: -12px;
}

.app-alibaba .app-box .install .explain-icon {
    font-size: 13px;
}

.app-alibaba .app-box .install i {
    padding: 2px;
    font-size: 20px;
}

/* ///////////////////////////////////// */
.according {
    width: 100%;
    min-height: 700px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.according .according-faq {
    width: 76%;
}

.according .faq {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 25px;
}

.according .according-content {
    width: 100%;
    background: #fff;
    border: 1px solid #c1c8cf;
    border-radius: 4px;
    overflow: hidden;
    /* background-color: red; */

}

.according-content.open {
    padding-bottom: 10px;
}

.according .according-content .header-according {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.according-content.open .header-according {
    padding-bottom: 35px;
}

.according .according-content .header-according .title {
    font-size: 17px;
    font-weight: 600px;
    color: #2B2F33;
}

.according .header-according .bx-question-mark {
    color: #0077DB;
    background: #4292d335;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 25px;
}


.according .according-content .bxs-chevron-down {
    font-size: 20px;
    color: #2B2F33;
    margin-top: 20px;
}

.according .according-content .header-according .head-t {
    display: flex;
    align-items: center;
}

.according .according-content .description {
    height: 0px;
    font-size: 15px;
    color: #4B5259;
    padding: 0 15px;
    transition: all 0.2s linear;
    /* background:yellow; */

}

/* /////////////////////////////////////////// */
footer {
    width: 100%;
    height: 800px;
    margin: 10px 0 40px 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #BEC6CC;
}

footer .footer {
    width: 74%;
}

footer .footer-top {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9d0d8;
}

footer .footer-top .top-items {
    display: flex;
    align-items: center;
    margin: 20px 0 50px 0;
    padding: 0 10px;
}

footer .footer-top .img-box {
    padding-left: 5px;
}

footer .footer-top .img-box img {
    width: 80px;
    height: 80px;
}

footer .footer-top .item .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

footer .footer-top .item .comment {
    font-size: 13px;
    color: #707880;
}

/* ////////////////////////// */
footer .footer-main {
    width: 100%;
    min-height: 370px;
    border-bottom: 1px solid #c9d0d8;
}

footer .footer-main .main-items {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

footer .footer-main .list h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .footer-main .list li {
    margin-bottom: 8px;
}

footer .footer-main .list li a {
    font-size: 14px;
    color: #2B2F33;
}

footer .footer-main .list li a:hover {
    color: #6C7680;
}

footer .footer-main .address {
    text-align: left;
    margin-top: -40px;
}

footer .footer-main .address .img-logo img {
    width: 150px;
    height: 70px;
    object-fit: fill;
}

footer .footer-main .address .phone {
    font-size: 14px;
    color: #4B5259;
    display: inline-flex;
    margin-bottom: 10px;
}

footer .footer-main .address .phone p {
    color: #000;
    margin-right: 15px;
}

footer .footer-main .address .phone a {
    color: #000;
}

footer .footer-main .address .address-co {
    font-size: 14px;
    color: #636d76;
    margin-bottom: 40px;
}

footer .footer-main .address .logo-box {
    display: flex;
    justify-content: space-between;
}

footer .footer-main .address .logo-box img {
    width: 70px;
    height: 70px;
    object-fit: fill;
}

footer .footer-main .address .logo-box .logofot {
    padding: 3px;
    border: 1px solid #c9d0d8;
    border-radius: 5px;
}

footer .footer-main .list-suggestion {
    width: 50%;
    height: 30px;
    margin-top: 25px;
}

footer .footer-main .list-suggestion .sug ul {
    display: flex;
    justify-content: space-between;
}

footer .footer-main .list-suggestion .sug a {
    font-size: 13px;
    color: #6C7680;
}

footer .footer-main .list-suggestion .button-box {
    display: flex;
    width: 60px;
    height: 30px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
}

footer .footer-main .list-suggestion .button-box button {
    background: none;
    border: none;
    color: #00569E;

}

footer .footer-main .list-suggestion .button-box:hover {
    border: #0077DB;
    background: #5796c936;
}

footer .footer-main .list-suggestion .button-box i {
    color: #00569E;
    padding-right: 3px;
}

footer .footer-main .list-suggestion li {
    position: relative;
}

footer .footer-main .list-suggestion li::after {
    content: ' ';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    right: -10px;
    background-color: #c9d0d8;
}

footer .footer-main .list-suggestion li:first-child::after {
    display: none;
}
.footer .footer-main .see{
    display: none;
}

/* ///////////////////////////////////////////// */
footer .footer-bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-bottom .caption {
    font-size: 13px;
    color: #636d76;
}

footer .footer-bottom .social-links {
    margin-top: 20px;
}

footer .footer-bottom .social-links ul {
    display: flex;

}

footer .footer-bottom .social-links a {
    font-size: 30px;
    color: #636d76;
    padding: 8px;
    margin-left: 10px;
}
/* /////////////////////////////////////////////// */
.part-card {
    width: 100%;
    max-height: 1000px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    /* background:purple; */
}

.part-card .part-imge {
    width: 76%;
}

.part-card .flex-content {
    display: flex;
    justify-content: space-between;
}

.section-content {
    max-width: 700px;
    min-height: 350px;
    border: 1px solid #d5d9dd;
    border-radius: 6px;
    margin-right: 10px;

    /* background: red; */
}

.section-content a {
    color: #0077DB;
    cursor: pointer;
}

.section-content .img-card__photo {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;
    border-radius: 6px 6px 0 0;
}

.section-content .img-card__photo h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 10px;
    padding-top: 150px;
}

.section-content .img-card__content {
    width: 100%;
    min-height: 150px;
    padding: 25px 15px;
    font-size: 15px;
    color: #4B5259;
    line-height: 30px;
}

.section-content .one {
    background-image: url('../img/bus/bus01-6af3a02d.png');
}

.section-content .two {
    background-image: url('../img/bus/bus02-c540fe0e.png');
}

.section-content .three {
    background-image: url('../img/bus/bus03-3bf1445d.png');
}

.section-content .four {
    background-image: url('../img/bus/bus04-ce1c7fff.png');
}

.section-content .five {
    background-image: url('../img/bus/bus05-31fc902f.png');
}

.part-card .sec {
    padding: 20px 0;

}

.part-card .title {
    color: #000;
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 25px;
}

.part-card .small {
    font-size: 18px;
}

.part-card p {
    color: #4B5259;
    line-height: 30px;
}

.part-card button {
    color: #0077DB;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    border: none;
    background: none;
}

.part-card button:hover {
    background: #51a1e70f;
    border: #0077DB;
}

/* //////////////////////////////////////////////////// */
.gloss {
    width: 100%;
    height: 1250px;
    margin: 35px 0;
    display: flex;
    justify-content: center;
    /* background: red; */
}

.gloss .gloss-content {
    width: 76%;
}

.gloss .sec {
    padding: 20px 0;

}

.gloss .title {
    color: #000;
    font-weight: 600;
    padding-bottom: 15px;
}

.gloss .big {
    font-size: 25px;
}

.gloss .small {
    font-size: 18px;
}

.gloss p {
    color: #4B5259;
    line-height: 30px;
}

.gloss button {
    color: #0077DB;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    border: none;
    background: none;
}

.gloss button:hover {
    background: #51a1e70f;
    border: #0077DB;
}

.gloss .logo-bus {
    padding: 23px;
    color: #636d76;
    font-size: 15px;
}

.gloss .logo-bus ul {
    display: flex;
    justify-content: space-around;
}
.gloss .logo-bus li{
    display: inline-block;
    text-align: center;
}
.gloss .flex-bus-list{
    display:flex;
    justify-content: space-between;
    padding: 20px 15px;
}
.gloss .flex-bus-list ul{
    list-style-type: disc;
    
}
.gloss .flex-bus-list li::marker{
    color: #E3A107;
}
.gloss .flex-bus-list a{
    color: #4B5259;
    font-size: 14px;
    margin-bottom: 8px;
}
/* //////////////////////////////////////////// */