:root {
    --white: #FFF;
    --black: #000;
    --primary: #FDB713;
    --primary-light: #FFE19C;
    --primary-dark: #E3A107;
    --secondary-100: #F2F9FF;
    --secondary-200: #C9E3F8;
    --secondary-300: #51A2E7;
    --secondary-400: #0077DB;
    --secondary-500: #00569E;
    --secondary-600: #004075;
    --secondary-700: #001C33;
    --success-100: #EAFAEE;
    --success-300: #84E199;
    --success-400: #28A745;
    --success-500: #1E7B33;
    --success-700: #11461D;
    --warning-100: #FFF5E5;
    --warning-300: #FFCE85;
    --warning-400: #FF9800;
    --warning-500: #A85D00;
    --warning-700: #4D2800;
    --info-100: #E8F9FC;
    --info-300: #A0E8F3;
    --info-400: #17A2B8;
    --info-500: #0F697A;
    --info-700: #072F36;
    --danger-100: #FDF2F3;
    --danger-300: #F2B5BB;
    --danger-400: #DC3545;
    --danger-500: #871722;
    --danger-700: #410B10;
    --grays-100: #F8FAFB;
    --grays-150: #E2E6E9;
    --grays-200: #BEC6CC;
    --grays-300: #959EA6;
    --grays-400: #6C7680;
    --grays-500: #4B5259;
    --grays-600: #2B2F33;
    --grays-700: #0A0B0C;
    --bg-cta-naturalWhite: #FFF;
    --bg-cta-naturalDefault: #F8FAFB;
    --bg-cta-softNaturalSelected: #F8FAFB;
    --bg-cta-softOnLightHover: #F8FAFB;
    --bg-cta-naturalHover: #E2E6E9;
    --bg-cta-softOnDarkHover: #2B2F33;
    --bg-cta-softOnDarkSelected: #2B2F33;
    --bg-cta-primaryDefault: #FDB713;
    --bg-cta-primaryHover: #E3A107;
    --bg-cta-primaryDisabled: #FFE19C;
    }
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <i class='bx bxl-telegram'></i>
    <i class='bx bxl-youtube' ></i>
    <i class='bx bxl-twitter'></i>
    <i class='bx bxl-instagram'></i>
    <i class='bx bxl-linkedin-square' ></i>

    <i class='bx bxs-plane-alt'></i>
    <i class='bx bxs-plane-take-off'></i>
    <i class='bx bx-train'></i>
    <i class='bx bxs-bus'></i>
    <i class='bx bxs-briefcase-alt-2'></i>
    <i class='bx bxs-business'></i>
    <i class='bx bx-home-heart'></i>

    <i class='bx bx-question-mark'></i>
    <i class='bx bxs-shopping-bag'></i>
    <i class='bx bxs-user'></i>
    

    <i class='bx bx-chevron-up' ></i>
    <i class='bx bxs-chevron-down'></i>
    <i class='bx bx-chevron-left'></i>
    <i class='bx bx-chevron-right' ></i>
    
    <i class='bx bx-transfer'></i>

    <i class='bx bxl-apple' ></i>
    <i class='bx bxl-android'></i>

    <i class='bx bxs-location-plus' ></i>

    <i class='bx bx-plus'></i>
    <i class='bx bx-minus' ></i>

    
    
    
    
    <svg viewBox="0 0 24 24" width="24px" height="24px" fill="currentColor" class="ml-2 shrink-0"><path d="M11.28 1.534c4.437-.419 8.22 3.11 8.22 7.59 0 4.053-1.89 7.941-6.398 12.888-.593.65-1.62.651-2.212 0-4.219-4.628-6.14-8.33-6.374-12.09-.263-4.237 2.701-8.005 6.765-8.388ZM18 9.124c0-3.604-3.031-6.432-6.579-6.097C8.192 3.332 5.8 6.374 6.013 9.83c.21 3.37 1.977 6.775 5.982 11.17l.531-.59c3.803-4.306 5.402-7.66 5.471-11.054L18 9.124ZM12 5.25a3.75 3.75 0 1 1 0 7.5 3.75 3.75 0 0 1 0-7.5Zm0 1.5a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" fill-rule="evenodd"></path></svg>
    
    <svg viewBox="0 0 24 24" width="1.5em" fill="currentColor" data-v-a0796dfe=""><path d="M12 1.5C6.2 1.5 1.5 6.2 1.5 12S6.2 22.5 12 22.5 22.5 17.8 22.5 12 17.8 1.5 12 1.5ZM12 3a9 9 0 0 1 9 9 9 9 0 0 1-9 9 9 9 0 0 1-9-9 9 9 0 0 1 9-9Zm.242 12.634a.72.72 0 0 0-.72.72v.36a.72.72 0 0 0 .636.715l.084.005a.72.72 0 0 0 .72-.72v-.36a.72.72 0 0 0-.72-.72Zm-.285-9.068c-.5 0-.943.07-1.33.208a2.664 2.664 0 0 0-.98.592c-.264.258-.467.57-.605.937a3.48 3.48 0 0 0-.206 1.229c0 .354.054.683.164.99.108.308.257.6.441.878.185.279.394.541.629.788.232.247.475.488.724.721.286.266.48.565.578.897.1.334.147.693.147 1.078h1.445a6.226 6.226 0 0 0-.079-.96 2.803 2.803 0 0 0-.226-.726 3.122 3.122 0 0 0-.41-.636 11.256 11.256 0 0 0-.627-.69 56.686 56.686 0 0 0-.511-.519 3.796 3.796 0 0 1-.43-.507 2.073 2.073 0 0 1-.403-1.268c0-.546.144-.973.43-1.283.287-.31.703-.464 1.25-.464.228 0 .448.03.659.09.21.059.396.153.56.28a1.4 1.4 0 0 1 .395.484c.1.195.148.428.148.698h1.444a2.797 2.797 0 0 0-.258-1.186 2.65 2.65 0 0 0-.678-.885 3.035 3.035 0 0 0-1.01-.555 4.033 4.033 0 0 0-1.26-.191Z" fill-rule="evenodd"></path></svg>
    <svg viewBox="0 0 24 24" width="1.5em" fill="currentColor" data-v-a0796dfe=""><path d="M13.875 1.5a1.5 1.5 0 0 1 1.496 1.388l.004.112v1.5h1.875a2.25 2.25 0 0 1 2.246 2.118l.004.132V18a2.25 2.25 0 0 1-2.118 2.246l-.132.004h-.375V21a.75.75 0 0 1-1.495.087L15.375 21v-.75h-4.97a3.001 3.001 0 0 1-2.755 2.246l-.15.004a3 3 0 0 1-2.25-4.984V6.75a2.25 2.25 0 0 1 2.118-2.246L7.5 4.5h1.875V3a1.5 1.5 0 0 1 1.388-1.496l.112-.004h3ZM7.5 18a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm9.75-12H7.5a.75.75 0 0 0-.745.663l-.005.087v9.845a3.004 3.004 0 0 1 3.655 2.155h6.845a.75.75 0 0 0 .745-.663L18 18V6.75a.75.75 0 0 0-.663-.745L17.25 6Zm-3 2.25a.75.75 0 0 1 .745.663L15 9v6.75a.75.75 0 0 1-1.495.088l-.005-.088V9a.75.75 0 0 1 .75-.75Zm-3.75 0a.75.75 0 0 1 .745.663L11.25 9v6.75a.75.75 0 0 1-1.495.088l-.005-.088V9a.75.75 0 0 1 .75-.75ZM13.875 3h-3v1.5h3V3Z" fill-rule="evenodd"></path></svg>
    <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="ml-1 text-grays-500" data-v-a0796dfe=""><path d="M17.25 12.75A3.75 3.75 0 0 1 21 16.5v3.75a.75.75 0 0 1-.75.75H3.75a.75.75 0 0 1-.75-.75V16.5a3.75 3.75 0 0 1 3.75-3.75h10.5Zm0 1.5H6.75A2.25 2.25 0 0 0 4.5 16.5v3h15v-3a2.25 2.25 0 0 0-2.118-2.246l-.132-.004ZM12 3a4.5 4.5 0 1 1 0 9 4.5 4.5 0 1 1 0-9Zm0 1.5a3 3 0 1 0-.001 5.999A3 3 0 0 0 12 4.5Z" fill-rule="evenodd"></path></svg>
    <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor" class="md:mr-3" data-v-13aab30c=""><path d="M21.266 7.302a.75.75 0 0 1 1.037 1.08l-.069.066-9.75 8.25a.75.75 0 0 1-.89.058l-.078-.058-9.75-8.25a.75.75 0 0 1 .893-1.202l.075.056L12 15.142l9.266-7.84Z"></path></svg>