@font-face {
    font-family: dana;
    font-style: normal;
    src: url('../font/Dana-Pro/farsinumral/webfonts/fonts/eot/dana-fanum-medium.eot') format('embedded-opentype'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff/dana-fanum-medium.woff') format('woff'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff2/dana-fanum-medium.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dana;
    direction: rtl;
}

body {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 65px;
    color: #2B2F33;
    will-change: transform;
    transition: transform .2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px 0px;
}

header .logo-alibaba {
    object-fit: cover;
    color: transparent;
    width: 40px;
}

/* //////////////////////////////// */
header nav ul {
    display: flex;
}

header nav li a {
    display: flex;
    margin: 10px;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    line-height: 18px;
    color: #6C7680;
}

header nav li p {
    padding: 0 5px;
}

header nav li {
    position: relative;
}

header nav .solid::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 20px;
    top: 20px;
    right: 0;
    background-color: #c9d0d8;
}

header nav .solid:first-child::after {
    display: none;
}

header nav .icon-head i {
    font-size: 18px;
    font-weight: 400;
}

header .nav-links .hover-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 8rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header ul>li:hover .hover-nav {
    display: block;
}

header .nav-links a {
    display: flex;
    background: #fff;
    color: #636d76;
    padding: .5rem .2rem;
    font-size: 14px;
    border-bottom: 1px solid #c9d0d8;


}

/* //////////////////////////////////// */
header .button-box {
    display: flex;
}

header .button-box ul {
    display: flex;
}

header .button-box li a {
    display: flex;
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    border-radius: 5px;
    line-height: 15px;
    color: #6C7680;
}

header .button-box p {
    padding: 3px;
}

header .button-box .icon-head .bx-question-mark {
    border: 1px solid #6C7680;
    border-radius: 50%;
}

header li a:hover {
    background: #bad3e81d;
}

header .icon-head i {
    font-size: 18px;
}

/* /////////////////////////////////////// */
main {
    width: 100%;
}

main .homepage {
    width: 100%;
    height: 500px;
}

main .homepage .background-homepage img {
    width: 100%;
    height: 350px;
    padding: 0 65px;
}

main .homepage .container-tabs {
    width: 76%;
    height: 230px;
    margin: 0 190px;
    position: relative;
    top: -100px;
    z-index: 5;
    border: 1px solid #c9d0d8;
    border-radius: 11px;
    background: #fff;
}

main .homepage .container-tabs .tabs {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #c9d0d8;
    padding: 15px 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

main .homepage .container-tabs .tabs a {
    position: relative;
    color: #636d76;
    font-size: 17px;
    z-index: 1;
    cursor: pointer;
}

main .homepage .container-tabs .tabs i {
    font-size: 30px;
}

.tabs .animation {
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background-color: #0077DB;
    width: 100px;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.tabs .icontab {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.tabs .icontab:hover {
    font-weight: 600;
    color: #0077DB;
    transition: all .1s ease-out 0s;
}

.tabs a:nth-child(1) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    right: 200px;
}

.tabs a:nth-child(2) {
    width: 110px;
}

.tabs .start-home,
a:nth-child(2):hover~.animation {
    width: 110px;
    right: 310px;
}

.tabs a:nth-child(3) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(3):hover~.animation {
    width: 100px;
    right: 430px;
}

.tabs a:nth-child(4) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(4):hover~.animation {
    width: 100px;
    right: 530px;
}

.tabs a:nth-child(5) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(5):hover~.animation {
    width: 80px;
    right: 650px;
}

.tabs a:nth-child(6) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(6):hover~.animation {
    width: 80px;
    right: 760px;
}

.tabs a:nth-child(7) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(7):hover~.animation {
    width: 140px;
    right: 830px;
}

/* ///////////////////////////////// */
.form-explain {
    width: 100%;
    height: 140px;
    padding: 20px 30px;
}

.form-explain .is-open {
    width: 100%;
    padding-bottom: 15px;
}

.form-explain .is-open .way-btn {
    background: #fff;
    border: 1px solid #c9d0d8;
    border-radius: 21px;
    padding: 8px 13px;
    display: flex;
    font-size: 15px;
    color: #636d76;
    line-height: 15px;
    cursor: pointer;
    position: relative;
}
.form-explain .is-open button:hover{
    border:1px solid #0077DB;
    background:#20384c15 ;
}

.form-explain .is-open .way-btn .icon-head {
    padding-right: 5px;
}

.form-explain .nav-links .hover-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 8rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-explainr .is-open button:hover .hover-nav {
    display: block;
}

.form-explain .nav-links a {
    display: flex;
    background: #fff;
    color: #636d76;
    padding: .5rem .2rem;
    font-size: 14px;
    border-bottom: 1px solid #c9d0d8;


}

/* ************ */
.form-explain .form-item{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.form-explain .form-item  .a-input-group {
    display: flex;
    /* justify-content: start; */
    width: 450px;
    height: 45px; 
    color: #4B5259;
}
.form-explain .form-item .city{
    width: 400px;
}
.form-explain .form-item .date{
    width: 300px;


}
.form-explain .form-item .item{
    margin-right: 10px;
}

.form-explain .city .a-input-group .is-first input {
    border: none;
    outline: none;
    width: 200px;
    height: 45px;
    border: 1px solid #BEC6CC;
    border-left:none ;
    border-radius: 0 7px 7px 0;
    position: relative;
}
.form-explain .city .a-input-group .is-last input {
    border: none;
    outline: none;
    width: 200px;
    height: 45px;
    border: 1px solid #BEC6CC;
    border-radius:  7px 0 0 7px ;
    position: relative;
}

.form-explain .city .a-input-group .is-first label {
    width: inherit;
    display: flex;
    justify-content: right;
    position: absolute;
    top:170px;
    right: 50px;
    color: #a0a8af;
    transition: .2s;

}
.form-explain .city .a-input-group .is-last label {
    width: inherit;
    display: flex;
    justify-content: right;
    position: absolute;
    top:170px;
    right: 264px;
    color: #a0a8af;
    transition: .2s;
    
}

.form-explain  .a-input-group .input-group-btn button {
    border: 1px solid #BEC6CC;
    border-radius: 50%;
    background: #fff;
    width: 2rem;
    height: 2rem;
    margin: 8px 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4B5259;
    z-index: 1;
    right: 230px;
}
.form-explain .form-item .city .a-input-group .input-group-btn {
    line-height: 3px;
}
/* ****************************** */
.form-explain .date .a-input-group .is-first input {
    outline: none;
    width: 150px;
    height: 45px;
    border: 1px solid #BEC6CC;
    border-left:none ;
    border-radius: 0 7px 7px 0;
    position: relative;
}
.form-explain .date .a-input-group .is-last input {
    outline: none;
    width: 150px;
    height: 45px;
    border: 1px solid #BEC6CC;
    border-radius:  7px 0 0 7px ;
    position: relative;
}

.form-explain .date .a-input-group .is-first label {
    display: flex;
    justify-content: right;
    position: absolute;
    top:170px;
    right: 488px;
    color: #a0a8af;
}
.form-explain .date .a-input-group .is-last label {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    top:170px;
    right: 645px;
    color: #a0a8af;    
}
/* ************************** */
.form-explain .passeger  .is-first input {
    outline: none;
    width: 150px;
    height: 45px;
    border: 1px solid #BEC6CC;
    border-radius:  7px ;
    position: relative;
}

.form-explain .passeger .is-first label {
    position: absolute;
    top:170px;
    right: 805px;
    color: #000;
}
/* **************** */

.form-explain .search .button-box button{
    border: none;
    outline: none;
    background:#FDB713 ;
    width: 160px;
    height: 45px;
    border-radius:  7px ;
    font-size: 17px;
    color: #000;
}
.form-explain .search .button-box button:hover{
    background: #E3A107;
}

/* ///////////////////////////////////////////// */
.service-alibaba {
    width: 100%;
    height: 150px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.service-alibaba .service-box {
    width: 76%;
}

.service-alibaba .service-box h2 {
    font-size: 18px;
    padding: 10px 0;
}

.service-alibaba .service-box .service-items {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    line-height: 70px;
    border: 1px solid #BEC6CC;
}

.service-alibaba .service-box .service-items .items {
    padding: 15px;
}

.service-alibaba .service-box .service-items .items ul {
    display: flex;
    justify-content: space-evenly;
}

.service-alibaba .items li {
    position: relative;
}

.service-alibaba .items li::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 50px;
    top: 5px;
    right: -60px;
    background-color: #c9d0d8;
}

.service-alibaba .items li:first-child::after {
    display: none;
}

.service-alibaba .service-box .service-items .items li a {
    display: flex;
    font-size: 15px;
    color: #4B5259;

}

.service-alibaba .service-box .service-items .items .icon-item {
    line-height: 110px;
}
.service-alibaba .new{
  background: #84E199;
  position: absolute;
  border-radius: 10px;
  width: 40px;
  height: 23px;
  top: 12px;
  right: 20px;
  font-size: 10px;
  text-align: center;
}
.service-alibaba .difrent{
    padding-top: 7px;
}
.ooooo{
    position: absolute;
    top: -46px;
    right: 5px;
    color: #000;
    font-size: 14px;
}
/* ///////////////////////////// */
.buyphone {
    width: 100%;
    height: 200px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.buyphone .img-buy {
    width: 76%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #BEC6CC;
}

.buyphone .img-buy img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
}

/* ///////////////////////////////// */
.slider-domesticflight {
    width: 100%;
    height: 250px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    /* background: yellow; */
}

.slider-domesticflight .slide-container {
    width: 76%;
    height: 250px;
    /* background: red; */
}

.slider-domesticflight .slide-container .slide-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.slider-domesticflight .slide-container .image-content {
    height: 220px;
    width: 585px;
    border-radius: 20px;
}

.slider-domesticflight .slide-container .image-content img {
    height: 220px;
    width: 580px;
    border-radius: 20px;
}

/* ////////////////////////// */
.app-alibaba {
    width: 100%;
    height: 300px;
    margin: 30px 0;
    display: flex;
    justify-content: center;

}

.app-alibaba .app-box {
    width: 76%;
    height: 300px;
    padding: 15px 30px 0 30px;
    border-radius: 5px;
    border: 1px solid #BEC6CC;
    display: flex;
    justify-content: space-around;
}

.app-alibaba .app-box .scan-box {
    margin: 36px 0;
}

.app-alibaba .app-box .mobile-box img {
    width: 350px;
    height: 280px;
}

.app-alibaba .app-box .expalin-app {
    margin: 36px 0;
}

.app-alibaba .app-box .expalin-app h2 {
    font-size: 20px;
}

.app-alibaba .app-box .expalin-app p {
    color: #2B2F33;
    font-size: 17px;
    padding: 10px 0;
}

.app-alibaba .app-box .link-don-app {
    line-height: 32px;
    margin: 30px 0;
}

.app-alibaba .app-box .link-don-app a {
    display: flex;
    color: #00569E;
}

.app-alibaba .app-box .link-don-app a i {
    font-size: 30px;
    margin-bottom: 2px;
}

.app-alibaba .app-box .install {
    display: flex;
    color: #6C7680;
    line-height: -12px;
}

.app-alibaba .app-box .install .explain-icon {
    font-size: 13px;
}

.app-alibaba .app-box .install i {
    padding: 2px;
    font-size: 20px;
}

/* ///////////////////////////////////// */
.according-domestic {
    width: 100%;
    min-height: 650px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.according-domestic .according-faq {
    width: 76%;
}

.according-domestic .faq {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 25px;
}

.according-domestic .according-content {
    width: 100%;
    background: #fff;
    border: 1px solid #c1c8cf; 
    border-radius: 4px;
    overflow: hidden;
    /* background-color: red; */

}
.according-content.open{
    padding-bottom:10px ;
}
.according-domestic .according-content .header-according {
    width: 100%;
   min-height: 65px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.according-content.open .header-according {
    padding-bottom:35px ;
}
.according-domestic .according-content .header-according .title{
    font-size: 17px;
    font-weight: 600px;
    color: #2B2F33;
}
.according-domestic .header-according .bx-question-mark {
    color: #0077DB;
    background: #4292d335;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 25px;
}


.according-domestic .according-content .bxs-chevron-down {
    font-size: 20px;
    color: #2B2F33;
    margin-top: 20px;
}

.according-domestic .according-content .header-according .head-t {
    display: flex;
    align-items: center;
}

.according-domestic .according-content .description {
    height: 0px;
    font-size: 15px;
    color: #4B5259;
    padding: 0 15px;
    transition: all 0.2s linear;
    /* background:yellow; */

}

/* /////////////////////////////////////////////// */
.gloss {
    width: 100%;
    height: 400px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.gloss .gloss-box {
    width: 79%;
    padding: 15px 30px 0 30px;
    display: flex;
    justify-content: center;
}

.gloss .gloss-content {
    display: flex;
}

.gloss .ticket .ticket-air {
    /* display: flex; */
}

.gloss .ticket .ticket-air .title-air {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.gloss .ticket .ticket-air .explain-air {
    font-size: 15px;
    color: #636d76;
    font-weight: 300;
}

.gloss .ticket .ticket-benefit .title-benefit {
    font-size: 17px;
    font-weight: 700;
    padding: 15px 0;
}

.gloss .ticket .ticket-benefit .explain-benefit {
    font-size: 15px;
    font-weight: 300;
    color: #636d76;
}

.gloss .ticket .ticket-benefit .explain-benefit a {
    color: #0077DB;
    font-weight: 500;
}

.gloss .img-ticket {
    padding-right: 100px;
}

.gloss .img-ticket img {
    width: 500px;
    height: 360px;
}

/* ///////////////////////////////////////////////// */
.gloss-block {
    display: block;
    width: 100%;
    height: 600px;
    margin: 10px 0 40px 0;
    display: flex;
    justify-content: center;
}

.gloss-block .gloss-field {
    width: 76%;
}

.gloss-block .field p {
    margin-bottom: 15px;
    font-size: 15px;
    color: #4B5259;

}

.gloss-block .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
}

.gloss-block a {
    color: #0077DB;
    font-weight: 500;
}

/* /////////////////////////////////////////// */
footer {
    width: 100%;
    height: 600px;
    margin: 10px 0 40px 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #BEC6CC;
    /* background: red;  */
}

footer .footer {
    width: 74%;
}

footer .footer-top {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9d0d8;
}

footer .footer-top .top-items {
    display: flex;
    align-items: center;
    margin: 20px 0 50px 0;
    padding: 0 10px;
}

footer .footer-top .img-box {
    padding-left: 5px;
}

footer .footer-top .img-box img {
    width: 80px;
    height: 80px;
}

footer .footer-top .item .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

footer .footer-top .item .comment {
    font-size: 13px;
    color: #707880;
}

/* ////////////////////////// */
footer .footer-main {
    width: 100%;
    height: 360px;
    border-bottom: 1px solid #c9d0d8;
}

footer .footer-main .main-items {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

footer .footer-main .list h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .footer-main .list li {
    margin-bottom: 8px;
}

footer .footer-main .list li a {
    font-size: 14px;
    color: #2B2F33;
}

footer .footer-main .list li a:hover {
    color: #6C7680;
}

footer .footer-main .address {
    text-align: left;
    margin-top: -40px;
}

footer .footer-main .address .img-logo img {
    width: 150px;
    height: 70px;
    object-fit: fill;
}

footer .footer-main .address .phone {
    font-size: 14px;
    color: #4B5259;
    display: inline-flex;
    margin-bottom: 10px;
}

footer .footer-main .address .phone p {
    color: #000;
    margin-right: 15px;
}

footer .footer-main .address .phone a {
    color: #000;
}

footer .footer-main .address .address-co {
    font-size: 14px;
    color: #636d76;
    margin-bottom: 40px;
}

footer .footer-main .address .logo-box {
    display: flex;
    justify-content: space-between;
}

footer .footer-main .address .logo-box img {
    width: 70px;
    height: 70px;
    object-fit: fill;
}

footer .footer-main .address .logo-box .logofot {
    padding: 3px;
    border: 1px solid #c9d0d8;
    border-radius: 5px;
}

footer .footer-main .list-suggestion {
    width: 50%;
    height: 30px;
    margin-top: 25px;
}

footer .footer-main .list-suggestion .sug ul {
    display: flex;
    justify-content: space-between;
}

footer .footer-main .list-suggestion .sug a {
    font-size: 13px;
    color: #6C7680;
}

footer .footer-main .list-suggestion .button-box {
    display: flex;
    width: 60px;
    height: 30px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
}

footer .footer-main .list-suggestion .button-box button {
    background: none;
    border: none;
    color: #00569E;
    
}
footer .footer-main .list-suggestion .button-box:hover{
    border: #0077DB;
    background: #5796c936;
}
footer .footer-main .list-suggestion .button-box i {
    color: #00569E;
    padding-right: 3px;
}

footer .footer-main .list-suggestion li {
    position: relative;
}

footer .footer-main .list-suggestion li::after {
    content: ' ';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    right: -10px;
    background-color: #c9d0d8;
}

footer .footer-main .list-suggestion li:first-child::after {
    display: none;
}

/* ///////////////////////////////////////////// */
footer .footer-bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-bottom .caption {
    font-size: 13px;
    color: #636d76;
}

footer .footer-bottom .social-links {
    margin-top: 20px;
}

footer .footer-bottom .social-links ul {
    display: flex;

}

footer .footer-bottom .social-links a {
    font-size: 30px;
    color: #636d76;
    padding: 8px;
    margin-left: 10px;
}